body {
    background-color: #f5f5f5;
    font-family: sans-serif,Roboto;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.Vanilla-weather {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
#search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#search-form input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
#search-form-button {
    padding: 10px 20px;
    background-color: #7b10c8;
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
#search-form-button:hover {
    background-color: #270c47;
}
.weather-info {
    margin: 20px 0;
}
.weather-info h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.weather-info p {
    color: #888;
    font-size: 14px;
    margin: 5px 0;
}
.condition-temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}
.details {
    font-size: 14px;
    color: #888;
}
#city {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}
#temperature {
    font-size: 32px;
    font-weight: bold;
    color: #6a0dad;
    text-align: right;   
}
.bold {
    font-weight: bold;
    color: #6a0dad;
}
#condition {
    font-size: 14px;
    color: #888;
    flex: 1;
    margin: 0;
}
.celcius {
    font-size: 16px;
    vertical-align: super;
}
.forecast-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.forecast {
    font-size: 18px;
    color: #444;
    text-align: center;
    flex: 1;
}
.forecast span {
    display: block;
    font-size: 14px;
    color: #444;
}
.footer-input {
    font-size: 16px;
    color: #888;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #6a0dad;
    text-decoration: none;
}